// background colors
$white-color: #fff;

// text colors
$primary-text-color: #543884;

// font weights
$light: 300;
$medium: 500;
$bold: 700;
$extra-bold: 900;

// border colors
$primary-border-color: #5f6368;

// avatar colors
$primary-avatar-background-color: #543884;
$primary-avatar-text-color: #f5f5f5;

// button colors
$primary-button-background-color: #543884;
$button-text-color: #e0cbff;
$button-secondary-text-color: #fff;

// calendar
$calendar-background-color: #f0e5ff;
$calendar-text-color: #543884;
$calendar-selected-text-color: #fff;

// header
$header-background-color: #f7f4fa;
$header-text-color: #543884;

// popup

$header-height: 64px;
$mini-pixel-per-hour: 50px;
$high-priority-color: #782e84;
$high-priority-text-color: #e0cbff;
$low-priority-color: #ffa45e;
$low-priority-text-color: #ffe7d4;
$medium-priority-color: #cdb0f9;
$calendar-header-date-size: 35px;
$calendar-border-color: #bdc1c6;
$medium-priority-color: #cdb0f9;

// popup
$meeting-link-background-color: #cdb0f9;
$popup-background-color: #f0e5ff;

$task-card-checked-background: #c4c3c5;

$error-color: red;
